.top-header-inner {
	padding-top: 90px;
	margin-top: 35px;
}
.boxPosition {
	text-align: center;
	margin: auto;
}
.menu-position {
	float: right;
}
.main-header {
	height: 100px;
	padding-top: 25px;
	margin: auto;
	background-color: #758308;
	color: red;
}